.Track {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.track-image-small, .track-image-small img {
  width: 250px;
  height: 250px;
}

.Track:hover .track-image-small img {
  -webkit-filter: brightness(75%) contrast(50%) sepia(10%); /* Safari 6.0 - 9.0 */
  filter: brightness(75%) contrast(50%) sepia(10%);
}

.Track:hover .track-details {
  visibility: visible;
}

.track-details {
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  z-index: 99999;
}

.track-title * {
  font-size: 36px;
  color: #ffffffc4 !important;
}

.track-artist * {
  font-size: 24px;
  color: #ffffffc4 !important;
}
