.Track {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.track-vinyl-center {
  width: 10%;
  height: 10%;
  border: 2px solid #ffffffd4;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  background-color: #000000c2;
  z-index: 999;
}

.track-image-small, .track-image-small img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-image: linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
  border-image-width: 15px;
}

.Track:hover .track-image-small img {
  -webkit-filter: brightness(75%) contrast(50%) sepia(10%); /* Safari 6.0 - 9.0 */
  filter: brightness(75%) contrast(50%) sepia(10%);
}

.Track:hover .track-details {
  visibility: visible;
}

.track-details {
  padding: 5%;
  overflow-y: scroll;
  display: block;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  z-index: 99999;
}

.track-title * {
  font-size: 36px;
  color: #ffffffc4 !important;
}

.track-artist * {
  font-size: 24px;
  color: #ffffffc4 !important;
}
