@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    background-color: #FFE767;
}

@media only screen and (max-width: 780px) {
    .App {
        max-width: 90vw;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }

    .card {
        width: auto;
        background-color: white;
        padding: 5%;
        border-radius: 20px;
        margin: 10px 0;
        background: linear-gradient(90deg, white 20px, transparent 1%) center, linear-gradient(white 20px, transparent 1%) center, palegoldenrod;
        background-size: 22px 22px;
    }
}

@media only screen and (min-width: 780px) {
    .App {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .card {
        width: 35%;
        background-color: white;
        padding: 30px 35px;
        border-radius: 20px;
        margin: 15px 20px;
        background: linear-gradient(90deg, white 20px, transparent 1%) center, linear-gradient(white 20px, transparent 1%) center, palegoldenrod;
        background-size: 22px 22px;
    }
}

.header, .projectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}

.logo {
    width: 30%;
    margin: 5%;
}


.login-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.login-form button {
    display: flex;
    justify-content: center;
}

ul {
    padding-bottom: 5px;
    list-style: none;
}

ul li {
    display: inline;
    margin: 5px;
}

button, li, a, a:visited, a:active {
    color: rgb(106, 103, 206);
    text-decoration: none;
}

li:hover, a:hover {
    cursor: pointer;
    color: #a177ff;
    text-decoration: underline;
}

.task:hover > button.hide {
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
}

label {
    display: flex;
    align-items: center;
}

input {
    margin: 5px;
    background-color: #fff;
    border: 1px solid #cdcfd2;
    border-radius: 3px;
    color: #1b2432;
    font-size: .875em;
    height: 28px;
}

input[type='submit'], input[type='reset'] {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 103, 206);
    border-radius: 5px;
    border: none;
    height: 33px;
    padding: 0 13px;
    font-size: 14px;
    margin: 5px;
    transition: 0.15s;
}

input[type='submit']:hover, input[type='reset']:hover {
    cursor: pointer;
    background-color: #a177ff;
    border-color: #a177ff;
    box-shadow: 0 0 0 3px #d0bbff;
    color: #fff;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: -1;
}

.background {
    width: 100vw;
    height: auto;
}
