.Playlist {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

.center-display {
  justify-content: center;
  align-items: center !important;
  flex-flow: column;
}

.playlist-h1 {
  margin-left: 5%;
}

.playlist-container {
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.playlist-container li {
  margin: 2%;
  padding: 2%;
  transition: transform 1s ease-in-out;
  transform: skew(-2deg, -2deg);
  border: 2px solid purple;
}

.playlist-container li:hover {
  transform: skew(1deg, 1deg);
}

.button-div {
  width: max-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  border-radius: 5px;
  box-shadow: 10px 12px rgba(25, 25, 240, 0.5);
  padding: 10px;
  border: 1px solid black;
}

.margin-top {
  margin-top: 10%;
}

.button-div:active {
  font-weight: bold;
  box-shadow: 2px 2px rgba(25, 25, 240, 0.7);
  transform: translate(11px, 9px);
  border: 2px solid black;
  cursor: pointer;
}

.position-mid-right {
  position: fixed;
  top: 40%;
  right: 7%;
}

.button-link {
  color: rgb(106, 103, 206);
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

#confetti-container {
  visibility: hidden;
  position: absolute;
  left: 45%;
}

.confetti {
  height: 5px;
  width: 5px;
  background-color: #d54343;
  position: absolute;
  z-index: -999;
  transition: transform 2s ease-in-out;
}

.confetti-demo {
  border: 5px solid blue;
  width: 50%;
  position: fixed;
  top: 0
}

.option-select > select, .header {
  display: inline-block;
}

.option-select > select {
  margin: 10px;
  font-size: 25px;
  padding: 7px;
}
