.Playlist {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.center-display {
  justify-content: center;
  align-items: center !important;
  flex-flow: column;
}

.playlist-h1 {
  margin-left: 5%;
}

.playlist-container {
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.playlist-container li {
  margin: 2%;
  padding: 2%;
  transition: transform 1s ease-in-out;
  transform: skew(-2deg, -2deg);
  border: 2px solid purple;
}

.playlist-container li:hover {
  transform: skew(1deg, 1deg);
}

.button-div {
  width: max-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  background-color: var(--spotify-accent-color);
  box-shadow: 10px 12px rgba(24, 24, 24, 24);
  padding: 10px;
  color: var(--main-text-color);
  font-weight: bold;
}

.margin-top {
  margin-top: 10%;
}

.button-div:hover, .button-div:active {
  font-weight: bold;
  box-shadow: 2px 2px rgba(24, 24, 24, 24);
  transform: translate(11px, 9px);
  cursor: pointer;
  text-decoration: underline;
}

.button-link {
  color: var(--main-text-color);
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

#confetti-container {
  visibility: hidden;
  position: absolute;
  left: 45%;
}

.confetti {
  height: 5px;
  width: 5px;
  background-color: #d54343;
  position: absolute;
  z-index: -999;
  transition: transform 2s ease-in-out;
}

.confetti-demo {
  border: 5px solid blue;
  width: 50%;
  position: fixed;
  top: 0
}

.option-select > select, .header {
  display: inline-block;
}

.option-select > select {
  margin: 10px;
  font-size: 25px;
  padding: 7px;
}
