.Playlist {
  margin-top: 50%;
}

.button-div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  border-radius: 5px;
  box-shadow: 10px 12px rgba(25, 25, 240, 0.5);
  padding: 10px;
  border: 1px solid black;
}

.button-div:hover {
  font-weight: bold;
  box-shadow: 2px 2px rgba(25, 25, 240, 0.7);
  transform: translate(11px, 9px);
  border: 2px solid black;
  cursor: pointer;
}

.button-div:hover > .button-link {
  font-weight: bold;
}

.position-right {
  position: fixed;
  right: 10%;
}

.button-link {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

